/*~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer {
	padding-top: getEm(45, 12);
	font-size: 12px;
	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);

	/*footer top*/
	&__top {
		padding-bottom: getEm(48, 12);
	}

	/*footer bottom*/
	&__bottom {
		padding: getEm(9, 12);
		color: #fff;
		background-color: var(--color-primary);

		.container {
			display: flex;
		}
	}

	/*footer info*/
	&__info {
		display: grid;
		grid-template-columns: repeat(4, auto);
		justify-content: space-between;
		row-gap: getEm(18, 12);
		column-gap: 20px;

		p {
			margin-bottom: getEm(10, 12);

			&:last-child {
				margin-bottom: 0;
			}
		}

		ul {
			a {
				padding: getEm(5, 12) 0;
				font-weight: 600;
				color: var(--color-secondary);
			}

			.btn-link {
				&::before {
					top: calc(100% - #{getEm(4, 12)});
				}
			}
		}
	}

	&__logo {
		margin: -#{getEm(30, 12)} 0 getEm(6, 12);
		max-width: getEm(63, 12);
	}

	.ArtBro {
		margin: 0 auto;
		font-weight: 600;
	}

	@include table {
		&__info {
			grid-template-columns: repeat(2, auto);
			justify-content: flex-start;
			column-gap: 20%;
		}
	}

	@include mobile {
		/*footer top*/
		&__top {
			padding-bottom: getEm(31, 12);
		}

		/*footer bottom*/
		&__bottom {
			padding: getEm(13, 12);
		}

		&__info {
			grid-template-columns: 1fr;
			padding-left: 33px;
			column-gap: 0;
		}
	}
}
