<footer class="footer">
	<div class="footer__top">
		<div class="footer__container container">
			<div class="footer__info">
				<!-- info column -->
				<div class="footer__info-col">
					<a class="footer__logo logo" href="#">
						<img src="assets/img/logo.svg" alt="logotip">
					</a>
					<p>ООО «Автобис» </p>
					<p>УНП 101378747</p>
					<p>220036, г. Минск, ул. Западная, 11а, офис 2</p>
				</div>
				<!-- info column -->
				<div class="footer__info-col">
					<p>
						<a class="footer__firm-info firm-info firm-info--phone" href="tel:375447884013">
							<span class="firm-info__ic">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
								</svg>
							</span>
							<span class="firm-info__text">
								+375 44 <span>788-40-13</span>
							</span>
						</a>
					</p>
					<p>
						<a class="footer__firm-info firm-info firm-info--phone" href="tel:+375172530326">
							<span class="firm-info__ic">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
								</svg>
							</span>
							<span class="firm-info__text">
								+375 17 <span>253-03-26</span>
							</span>
						</a>
					</p>
					<p>
						<a class="footer__firm-info firm-info firm-info--phone" href="tel:+375447883677">
							<span class="firm-info__ic">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
								</svg>
							</span>
							<span class="firm-info__text">
								+375 44 <span>788-36-77</span>
							</span>
						</a>
					</p>
					<p>
						<a class="footer__firm-info firm-info firm-info--phone" href="tel:+375173770332">
							<span class="firm-info__ic">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
								</svg>
							</span>
							<span class="firm-info__text">
								+375 17 <span>377-03-32</span>
							</span>
						</a>
					</p>
				</div>
				<!-- info column -->
				<div class="footer__info-col">
					<p>
						<span class="footer__firm-info firm-info firm-info--clock" href="tel:+375173770332">
							<span class="firm-info__ic">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#clock"></use>
								</svg>
							</span>
							<span class="firm-info__text">
								Пн-Пт: 8.00 - 17.00
							</span>
						</span>
					</p>
					<p>
						<a class="footer__firm-info firm-info firm-info--phone" href="tel:+375173770332">
							<span class="firm-info__ic">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
								</svg>
							</span>
							<span class="firm-info__text">
								Сб-Вс: выходной
							</span>
						</a>
					</p>
					<ul>
						<li>
							<a class="btn-link" href="#">Доставка</a>
						</li>
						<li>
							<a class="btn-link" href="#">Оплата</a>
						</li>
					</ul>
				</div>
				<!-- info column -->
				<div class="footer__info-col">
					<ul>
						<li>
							<a class="btn-link" href="#">Подъемники для автосервиса и СТО</a>
						</li>
						<li>
							<a class="btn-link" href="#">Двухстоечные подъемники</a>
						</li>
						<li>
							<a class="btn-link" href="#">Четырехстоечные подъемники</a>
						</li>
						<li>
							<a class="btn-link" href="#">Шиномонтажные станки</a>
						</li>
						<li>
							<a class="btn-link" href="#">Балансировочные станки</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<a class="ArtBro" href="https://cweb.by/" target="_blank">
				Разработка и продвижение cweb
			</a>
		</div>
	</div>
</footer>
