<!-- HEADER -->
<header class="header">
	<div class="header__container container">
		<div class="header__row vt-center">
			<!-- header body -->
			<div class="header__body">
				<!-- header top -->
				<div class="header__top">
					<!-- logo -->
					<a class="header__logo logo" href="#">
						<img src="assets/img/logo.svg" alt="logotip">
					</a>
					<div class="firm-info-wrap">
						<div class="firm-info-wrap__title">
							Оборудование:
						</div>
						<div class="firm-info-items">
							<a class="header__firm-info firm-info firm-info--phone" href="tel:375447884013">
								<div class="firm-info__ic">
									<svg>
										<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
									</svg>
								</div>
								<div class="firm-info__text">
									+375 44 <span>788-40-13</span>
								</div>
							</a>
							<a class="header__firm-info firm-info firm-info--phone" href="tel:+375172530326">
								<div class="firm-info__ic">
									<svg>
										<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
									</svg>
								</div>
								<div class="firm-info__text">
									+375 17 <span>253-03-26</span>
								</div>
							</a>
						</div>
					</div>
					<div class="firm-info-wrap">
						<div class="firm-info-wrap__title">
							Сел. хоз:
						</div>
						<div class="firm-info-items">
							<a class="header__firm-info firm-info firm-info--phone" href="tel:+375447883677">
								<div class="firm-info__ic">
									<svg>
										<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
									</svg>
								</div>
								<div class="firm-info__text">
									+375 44 <span>788-36-77</span>
								</div>
							</a>
							<a class="header__firm-info firm-info firm-info--phone" href="tel:+375173770332">
								<div class="firm-info__ic">
									<svg>
										<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
									</svg>
								</div>
								<div class="firm-info__text">
									+375 17 <span>377-03-32</span>
								</div>
							</a>
						</div>
					</div>
					<button class="header__callback btn btn--dott js-openModal mobile-hidden" type="button"
						aria-label="перезвоните мне" data-type-modal="application">
						<span>Заказать звонок</span>
					</button>
				</div>
				<!-- header bottom -->
				<div class="header__bottom">
					<button class="header__hamburger hamburger" type="button" aria-label="Открыть мобильное меню">
						<span></span>
					</button>
					<!-- burger -->
					<div class="header__burger">
						<div class="header__burger-inner">
							<nav class="header__nav bro-menu">
								<ul class="header__menu menu bro-menu__container">
									<li class="menu__item menu__item--hang">
										<button class="menu__item-toggle menu__hamburger hamburger" type="button"
											aria-label="Открыть подменю">
											<span></span>
										</button>
										<a class="menu__link menu__item-toggle">
											<span>Оборудование</span>
										</a>
										<!-- menu level 2 -->
										<ul class="menu__submenu ">
											<li class="menu__item active">
												<span class="menu__link">
													<span>
														Спецпредложения
													</span>
												</span>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Оборудование для мойки деталей, моечные машины
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Категория
															</span>
														</a>
													</div>
													<div class="menu__item">
														<a href="#" class="menu__link">
															<span>
																Оборудование для мойки деталей, моечные машины
															</span>
														</a>
													</div>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu__item">
										<a class="menu__link" href="#">
											<span>Кировец</span>
											<svg class="menu__arr">
												<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-down_tr"></use>
											</svg>
										</a>
										<!-- menu lvl 2 -->
										<ul class="menu__submenu">
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Сельхозтракторы
													</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
												<!-- menu lvl 3 -->
												<ul class="menu__submenu ">
													<li class="menu__item">
														<a class="menu__link" href="#">
															<span>
																Трамбовщик силосно-сенажной массы К-703МА-12-03.4
															</span>
														</a>
													</li>
												</ul>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>
														Сельхозтракторы
													</span>
												</a>
											</li>
										</ul>
									</li>
									<li class="menu__item active">
										<a class="menu__link" href="#">
											<span>Сельхозтехника</span>
											<svg class="menu__arr">
												<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-down_tr"></use>
											</svg>
										</a>
										<ul class="menu__submenu">
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>Кормораздатчики</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>О нас</span>
												</a>
											</li>
											<li class="menu__item">
												<a class="menu__link" href="#">
													<span>Контакты</span>
													<svg class="menu__arr">
														<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
														</use>
													</svg>
												</a>
											</li>
										</ul>
									</li>
									<li class="menu__item">
										<a class="menu__link" href="#">
											<span>Кормораздатчики</span>
											<svg class="menu__arr">
												<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-down_tr"></use>
											</svg>
										</a>
										<ul class="menu__submenu">
											<li class="menu__item">
												<a class="menu__link" href="#">
													Самоходные кормораздатчики
												</a>
											</li>
										</ul>
									</li>
									<li class="menu__item">
										<a class="menu__link" href="#">
											<span>О нас</span>
										</a>
									</li>
									<li class="menu__item">
										<a class="menu__link" href="#"><span>Контакты</span></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- search toggle -->
					<button class="header__search-toggle search-toggle js-search-toggle" type="button"
						aria-label="Отобразить поле поиска">
						<svg>
							<use xlink:href="assets/img/icons/ui/sprite.svg#loupe"></use>
						</svg>
					</button>
					<!-- firm info main -->
					<a class="header__firm-info firm-info firm-info--mail" href="tel:375447884013">
						<div class="firm-info__ic">
							<svg>
								<use xlink:href="assets/img/icons/ui/sprite.svg#mail"></use>
							</svg>
						</div>
					</a>
					<a class="header__btn-basket btn-basket" href="#">
						<svg>
							<use xlink:href="assets/img/icons/ui/sprite.svg#shopping-cart"></use>
						</svg>
						<strong>
							0
						</strong>
					</a>
					<button class="header__callback btn js-openModal mobile-visible" type="button"
						aria-label="перезвоните мне" data-type-modal="application">
						<span>Заказать звонок</span>
					</button>
				</div>
			</div>
		</div>
		<form class="header__search-panel search-panel">
			<div class="search-pane__container container">
				<div class="search-panel__inner">
					<input class="search-panel__input" type="search" placeholder="Поиск">
					<button class="search-panel__close" type="button" aria-label="Закрыть поиск">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.97 47.97">
							<path
								d="M28.23,24,47.09,5.12A3,3,0,0,0,42.85.88L24,19.74,5.12.88A3,3,0,0,0,.88,5.12L19.74,24,.88,42.85A3,3,0,0,0,3,48a3,3,0,0,0,2.12-.88L24,28.23,42.85,47.09a3,3,0,0,0,4.24-4.24Z">
							</path>
						</svg>
					</button>
				</div>
			</div>
		</form>
	</div>
</header>
