<div class="panel-b">
	<div class="panel-b__inner">
		<!-- sidebar panel -->
		<div class="panel-b__sidebar">
			{% block sidebar %}
			{% endblock %}
		</div>
		<!-- content panel -->
		<div class="panel-b__content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</div>
