<!-- productions -->
{% set baseClass = 'reviews-b' %}

<section class="{{ baseClass }} section section--internal"
	style="background-image: url(../../../assets/img/general/bg-sect.jpg);">
	<div class="{{ baseClass }}__container container">
		{% block title %}
		<h2 class="{{ baseClass }}__title title title--2 title--side-line section__title">
			<span>Отзывы</span>
		</h2>
		{% endblock %}
	</div>
</section>
