<!-- main slider -->
<div class="main-slider-b">
	<!-- slider wrapper -->
	<div class="main-slider-wrap slider-wrap">
		<!-- slider -->
		<div class="main-slider swiper">
			<div class="swiper-wrapper">
				<!-- slide -->
				<div class="main-slider__slide swiper-slide">
					<div class="main-slider__slide-container container">
						<div class="main-slider__item main-slider__item--top">
							<h1 class="h1">
								ООО «АВТОБИС»: <br>
								ПРИЯТНЫЕ СКИДКИ НА <br>
								ВЫСТАВОЧНУЮ ТЕХНИКУ
							</h1>
							<a class="main-slider__btn btn btn--dott btn--color_secondary" href="#">
								<span>Подробнее</span>
							</a>
						</div>
					</div>
					<div class="main-slider__imgBox">
						<img src="assets/img/components/main-sldier/slider-1.jpg" alt="">
					</div>
				</div>
				<!-- slide -->
				<div class="main-slider__slide swiper-slide">
					<div class="main-slider__slide-container container">
						<div class="main-slider__item main-slider__item--top">
							<h1 class="h1">
								ООО «АВТОБИС»: <br>
								ПРИЯТНЫЕ СКИДКИ НА <br>
								ВЫСТАВОЧНУЮ ТЕХНИКУ
							</h1>
							<a class="main-slider__btn btn btn--dott btn--color_secondary" href="#">
								<span>Подробнее</span>
							</a>
						</div>
					</div>
					<div class="main-slider__imgBox">
						<img src="assets/img/components/main-sldier/slider-1.jpg" alt="">
					</div>
				</div>
				<!-- slide -->
				<div class="main-slider__slide swiper-slide">
					<div class="main-slider__slide-container container">
						<div class="main-slider__item main-slider__item--top">
							<h1 class="h1">
								ООО «АВТОБИС»: <br>
								ПРИЯТНЫЕ СКИДКИ НА <br>
								ВЫСТАВОЧНУЮ ТЕХНИКУ
							</h1>
							<a class="main-slider__btn btn btn--dott btn--color_secondary" href="#">
								<span>Подробнее</span>
							</a>
						</div>
					</div>
					<div class="main-slider__imgBox">
						<img src="assets/img/components/main-sldier/slider-1.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
