<!-- slider wrapper -->
<div class="miniatures-slider-wrap slider-wrap">
	<!-- slider -->
	<div class="miniatures-slider swiper" data-slider-autoplay="0">
		<div class="swiper-wrapper">
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client1.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client2.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client3.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client4.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client5.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client6.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client1.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client2.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client3.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client4.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client5.png" alt="">
			</div>
			<!-- slide -->
			<div class="miniatures-slider__slide swiper-slide">
				<img src="assets/img/components/partners/client6.png" alt="">
			</div>
		</div>
	</div>
	<!-- nav slider -->
	<div class="miniatures-slider-nav slider-nav">
		<button class="slider-arr slider-arr--prev" type="button" aria-label="Предыдущий слайдер">
			<svg>
				<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
				</use>
			</svg>
		</button>
		<button class="slider-arr slider-arr--next" aria-label="Следующий слайдер">
			<svg>
				<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr">
				</use>
			</svg>
		</button>
	</div>
</div>
