<a class="news-note" href="#">
	<div class="news-note__imgBox">
		<img src="{{srcImg}}" alt="">
	</div>
	<div class="news-note__textBox">
		<div class="news-note__title">{{ title }}</div>
		<div class="news-note__text">
			{{ text }}
		</div>
	</div>
</a>
