<!-- pagination -->
<ul class="pagination">
	<li class="page-item disabled">
		<a class="page-link" href="#">
			<svg>
				<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-left_tr"></use>
			</svg>
		</a>
	</li>
	<li class="page-item active"><a class="page-link" href="blog/">1</a></li>
	<li class="page-item"><a class="page-link" href="blog/?page=2">2</a></li>
	<li class="page-item"><a class="page-link" href="blog/?page=3">3</a></li>
	<li class="page-item"><a class="page-link" href="blog/?page=4">4</a></li>
	<li class="page-item"><a class="page-link" href="blog/?page=5">5</a></li>
	<li class="page-item"><a class="page-link" href="#">
			<svg>
				<use xlink:href="./assets/img/icons/ui/sprite.svg#arr-right_tr"></use>
			</svg>
		</a>
	</li>
</ul>
