<!-- productions -->
<section class="{{ class.mix }} productions-b section {{ classes.mod }}">
	<div class="productions-b__container container">
		{% block title %}
		<h2 class="productions-b__title title title--2 title--side-line section__title">
			<span>Продукция</span>
		</h2>
		{% endblock %}
		<div class="section__subtitle title title--2 title--accent">
			<a href="#">Спецпредложения</a>
		</div>
		<!-- productions list -->
		<div class="productions-b__list-wrap">
			<div class="productions-b__list">
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
				<!-- card -->
				<a class="productions-b__card" href="#">
					<span class="productions-b__card-img">
						<img src="assets/img/test/produc.jpg" alt="">
					</span>
				</a>
			</div>
		</div>
	</div>
</section>
