<div class="sp-title" style="background-image: url(./assets/img/test/catalog-banner-background.png)">
	<div class="container">
		<h1 class="sp-title__head">
			Оборудование для мойки деталей, моечные машины
		</h1>
		<!-- BREAD CRUMB -->
		<div class="bread-crumb">
			<div class="bread-crumb__inner">
				<a href="./index.html" class="bread-crumb__item">
					Главная
				</a>
				<span class="bread-crumb__item">Каталог</span>
			</div>
		</div>
	</div>
</div>
