{% extends "includes/layouts/page.twig" %}

{# ------ HEADER ----- #}
{% block header %}
{% include "./includes/organisms/_header.twig" %}
{% endblock %}


{% block content %}
{% include "./includes/molecules/main-slider.twig" %}
{% include "./includes/molecules/productions.twig" %}
{% include "./includes/molecules/advantages.twig" %}
{% include "./includes/organisms/reviews.twig" %}
{% include "./includes/organisms/partners.twig" %}
{# ------ ABOUT US BLOCK ----- #}
{% include "./includes/organisms/news.twig" with {
class: {mixs: 'parent', 'dop: 'section',}
} %}

{# ------ ABOUT US BLOCK ----- #}
<section class="about-us-b section">
	<div class="about-us-b__container container">
		<h2 class="news-b__title title title--2 title--side-line section__title">
			<span>О компании ООО «Автобис»</span>
		</h2>
		<div class="text text--air">
			<p>
				Компания «Автобис» специализируется на продаже автомобильных запчастей, оборудования для СТО и ремонтных
				мастерских. <b>Уже почти 20 лет с 1998</b> года мы предлагаем клиентам купить исключительно
				высококачественное гаражное оборудование для автосервиса и СТО, технику для ремонта и обслуживания
				автомобильного бизнеса любой сложности от ведущих мировых производителей. На нашем сайте представлен
				каталог
				товаров, в котором вы можете подобрать профессиональную технику для диагностики и ремонта автотранспорта
				и
				многое другое.
			</p>
		</div>
		{% embed "./includes/molecules/companu-desc.twig" with {
		class: {mods: "rtl"}
		} %}
		{% block textBox %}
		<p>
			Высокий уровень конкуренции в автомобильном бизнесе вносит свои требование к его владельцам. Главными
			принципами работы крупнейших СТО остаются:
		</p>
		<ul>
			<li>Высокий уровень квалификации обслуживающего персонала</li>
			<li>Современное оборудование, позволяющее выполнять высоко-технологичные операции быстро и качественно</li>
			<li>
				Своевременное обслуживание и ремонт автосервисного оборудования
			</li>
		</ul>
		{% endblock %}
		{% endembed %}
		<h3 class="h3">
			Оборудование, реализуемое нашей компанией
		</h3>
		<div class="text text--air">
			<p>
				Ассортимент продукции компании включает в себя следующее гаражное оборудование, которым оснащается любая
				современная станция техобслуживания автомобилей:
			</p>
			<ul>
				<li>
					стенды и линии для проверки технического состояния транспортных средств;
				</li>
				<li>
					устройства для ремонта и диагностики систем и отдельных элементов автомобильной и другой техники;
				</li>
				<li>
					оборудование для шиномонтажа;
				</li>
				<li>
					оборудование для диагностики автомобилей;
				</li>
				<li>
					оборудование для проведения техобслуживания и ремонта техники, а также другое специализированное
				</li>
				<li>
					оборудование для станций техобслуживания.
				</li>
			</ul>
		</div>
		{% embed "./includes/molecules/companu-desc.twig" %}
		{% block textBox %}
		<p>
			Важными преимуществами деятельности ООО «Автобис» является комплексный подход в удовлетворении нужд СТО и
			автосервисов. Мы работаем исключительно с проверенными и авторитетными производителями гаражного
			оборудования и предлагаем нашим клиентам и партнерам высококачественные товары по приемлемой цене. Мы
			сотрудничаем с известными компаниями, которые давно зарекомендовали себя на рынке оборудования для СТО,
			такими как Bosch AG, Alfred Karcher GmbH &Co. KG, Hofmann Megaplan GmbH и многими другими.
		</p>
		{% endblock %}
		{% endembed %}

	</div>
</section>

{% endblock %}

{# ------ FOOTER ----- #}
{% block footer %}
{% include "./includes/organisms/_footer.twig" %}
{% endblock %}